@page
@model MediiDeProgramarePROIECT.Pages.Schedules.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schedule.ScheduleName" class="control-label"></label>
                <input asp-for="Schedule.ScheduleName" class="form-control" />
                <span asp-validation-for="Schedule.ScheduleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.DayOfWeek" class="control-label"></label>
                <select asp-for="Schedule.DayOfWeek" class="form-control">
                    <option value="0">Duminică</option>
                    <option value="1">Luni</option>
                    <option value="2">Marți</option>
                    <option value="3">Miercuri</option>
                    <option value="4">Joi</option>
                    <option value="5">Vineri</option>
                    <option value="6">Sâmbătă</option>
                    <option value="8">Luni-Vineri</option>
                </select>
                <span asp-validation-for="Schedule.DayOfWeek" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Schedule.StartTime" class="control-label"></label>
                <input asp-for="Schedule.StartTime" class="form-control" type="time" />
                <span asp-validation-for="Schedule.StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Schedule.EndTime" class="control-label"></label>
                <input asp-for="Schedule.EndTime" class="form-control" type="time" />
                <span asp-validation-for="Schedule.EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
